apscheduler
tinydb
httpx
python-dotenv
parse-torrent-title
# do not install on windows or macOS
fuse-python; sys_platform != "win32" and sys_platform != "darwin"
# for macOS
git+https://github.com/libfuse/python-fuse; sys_platform == "darwin"